<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
   width: 100%;
   height: 400px;
   background-color: gray;
 }
    </style>
  </head>
  <body>
    <h1>Rocket Elevators Customers Geolocalisation</h1>

    <div id='map'></div>
    <script>
      function initMap(){
        var map = new google.maps.Map(document.getElementById('map'),{
        zoom: 4,
          center: {lat: 46.842957,lng: -71.279663},
       styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: '',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: '',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
          });
        

         
          var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
          <% @marker_list.each do |location| %>
            var marker = new google.maps.Marker({
                position: {
                    lat: <%= location[:lat]%>, 
                    lng: <%= location[:lng]%>
                  },
                map: map,
                icon: image,
                
                animation: google.maps.Animation.BOUNCE
            });
            
            marker.info = new google.maps.InfoWindow({
                content: '<strong>Address:</strong><%= location[:number_and_street] %><%= location[:city] %><%= location[:country] %><%= location[:zip_code] %><br/><strong>Customer Name:</strong><%= location[:name] %><br/><strong>Batteries Number:</strong><%= location[:batteries]%><br/><strong>Columns Number:</strong><%= location[:column]%><br/><strong>Elevator Number:</strong> <%= location[:elevator] %></br><strong>Contact Support:</strong><%= location[:contact]%></br><strong>Email:</strong><%=location[:email]%></br><strong>Phone Number:</strong><%=location[:phone_number]%></br><strong>Temperature:</strong><%=location[:temperature]%><strong> °C</strong></br><strong>Min:</strong><%=location[:min]%><strong> °C</strong></br><strong>Max:</strong><%=location[:max]%><strong> °C</strong></br><strong>Pressure:</strong><%=location[:pressure]%><strong> HPA</strong></br><strong>Humidity:</strong><%=location[:humidity]%><strong> %</strong>'
                
                });
            var previous = null;
            marker.addListener('click', function() {
                if(previous) {
                    previous.close()
                }
                previous = this.info;
                this.info.open(map, this);
            });
                     






          <% end %>
       
          
        }  
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GMAP1']%>&callback=initMap">

    </script>
  </body>
</html>
