<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
  <div class="col-md-12 home-form">
    <%= form_tag(battery_search_path, method: "get", class: "form-inline", remote: true) do %>
    <%= select_tag "buildings", options_from_collection_for_select(Buildings.all, "id", "header"), prompt: "Buildings", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "battery_type", options_from_collection_for_select(Battery.all, "id", "battery_type"), prompt: "Battery Type", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "course", options_from_collection_for_select(Battery.all, "id", "title"), prompt: "Battery", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
  </div>
</div>

<div class="row" id="battery_listing">
  <%= render partial: "battery_list", locals: {battery: @battery} %>
</div>