<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
  <div class="col-md-12 home-form">
    <%= form_tag(buildings_search_path, method: "get", class: "form-inline", remote: true) do %>
    <%= select_tag "customer", options_from_collection_for_select(Customer.all, "id", "header"), prompt: "Customer", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "buildings_type", options_from_collection_for_select(Buildings.all, "id", "buildings_type"), prompt: "Buildings Type", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "course", options_from_collection_for_select(Buildings.all, "id", "title"), prompt: "Buildings", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
  </div>
</div>

<div class="row" id="buildings_listing">
  <%= render partial: "buildings_list", locals: {buildings: @buildings} %>
</div>