<div class="row no-gutters wow slideInUp" data-wow-duration="1s">
  <div class="col-md-12 home-form">
    <%= form_tag(column_search_path, method: "get", class: "form-inline", remote: true) do %>
    <%= select_tag "battery", options_from_collection_for_select(Battery.all, "id", "header"), prompt: "Battery", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "column_type", options_from_collection_for_select(Column.all, "id", "column_type"), prompt: "Column Type", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= select_tag "course", options_from_collection_for_select(Column.all, "id", "title"), prompt: "Column", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
  </div>
</div>

<div class="row" id="column_listing">
  <%= render partial: "column_list", locals: {column: @column} %>
</div>