




                    <section class="page-header quoteHeaderColor">
                    <div class="container">
    
                        <h1 class= "titleStyle">Intervention Form</h1>
    
                        <!-- breadcrumbs -->
                        <ol class="breadcrumb">
                            <li><a href="/" style="color:white">Home</a></li>
                            <li class="active">Rocket</li>
                        </ol><!-- /breadcrumbs -->
    
                    </div>
            </section>
                <!-- /PAGE HEADER -->


            <%= form_for @interventions do |f| %>

                <!-- form -->
                 <!-- client name -->
                 <section class= "formStyle" id= "toPrintQuote">

                    <div class= "customer" id="customer">
                        <label for="customer_id" class="labelStyle">Client Name</label>
                        <%= f.collection_select(:customer, Customer.all, :id, :company_name, {:prompt=>'Select Customer'}, {:class=>'customer_id'}) %>
                    </div>
                    <!-- /client name -->
                    <!-- client building -->
                        <div class= "chooseType">
                            <label class= "labelStyle">Client's Building :</label>
                            <%= f.collection_select(:building_id, Building.all, :id, :admin_full_name, {:prompt=>'Select Building'}, {:class=>'building_id'}) %>
                        </div>      

                    <!-- client battery -->
                     <div class= "field">
                            <label class= "labelStyle">Client's Batteries :</label>
                            <%= f.collection_select(:battery_id, Battery.all, :id, :operation_certificate, {:prompt=>'Select Battery'}, {:class=>'battery_id'}) %>
                        </div>  
                    <!-- /client battery --> 
                    <!-- client column -->
                     <div class= "chooseType">
                            <label class= "labelStyle">Client's Column :</label>
                            <%= f.collection_select(:column_id, Column.all, :id, :id, {:prompt=>'Select Column'}, {:class=>'column_id'}) %>
                        </div> 
                    <!-- /client column -->
                    <!-- client elevator -->
                       <div class= "chooseType">
                            <label class= "labelStyle">Client's Elevator :</label>
                            <%= f.collection_select(:elevator_id, Elevator.all, :id, :id, {:prompt=>'Select Elevator'}, {:class=>'elevator_id'}) %>
                        </div> 
                    <!-- /client elevator -->
                    <!-- client employee -->
                    <div class= "chooseType">
                            <label class= "labelStyle">Client's Employee :</label>
                            <%= f.collection_select(:employee_id, Employee.all, :id, :first_name, {:prompt=>'Select Employee'}, {:class=>'employe_id'}) %>
                        </div>
                    <br>                  
                    
                    
                   
                   
                     <%= f.submit %>

                </section>
                <!-- /form -->
            <% end %>

            
    
            

<!-- JAVASCRIPT FILES -->



<!-- REVOLUTION SLIDER -->
<%# <script src="/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/js/view/demo.revolution_slider.js"></script> %>

<!-- PAGELEVEL SCRIPTS -->
<%# <script src="/assets/js/contact.js"></script> %>
  